.catalog {
    padding-bottom: 100px;
    .catalog__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
        .catalog__tab {
            width: 220px;
            height: 50px;
            background-color: #f7f7f7;
            border: 2px solid #d0d0d0;
            font-size: 18px;
            color: #6b6b6b;
            text-align: center;
            line-height: 48px;
            transform: skewX(-25deg);               //наклон табов
            margin: 0 5px;
            cursor: pointer;
            transition: 0.5s all;
            &:hover {
                box-shadow: 3px 3px 20px $main-color;
                border: none;
            }
            div {
                transform: skewX(25deg);
            }
        }
        .catalog__tab_active {
            color: #fff;
            background-color: $main-color;
            border: none;
        }
    }
    .catalog__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    .catalog-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        .catalog-item__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        .catalog-item__subtitle {
            margin-top: 20px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            color: #0d0d0d;
            text-align: center;
        }
        .catalog-item__descr {
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #0d0d0d;
            text-align: center;
        }
        .catalog-item__link {
            display: block;
            margin: 17px auto 0;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 500;
            text-decoration: underline;
            color: #c70101;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
            background-color: #e8e8e8;
        }
        .catalog-item__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .catalog-item__old-price {
            font-size: 14px;
            font-weight: 300;
            color: #555555;
            text-decoration: line-through;
        }
        .catalog-item__price {
            font-size: 20px;
            font-weight: 700;
            color: #050505;
        }
        .catalog-item__wrapper {
            display: flex;
            position: relative;
            width: calc(200% + 60px);
        }
        .catalog-item__content {
            width: 100%;
            margin-right: 20px;
            transform: translateX(-100%);
            transition: 0.5s all;
            padding-right: 20px;
            &_active {
                transform: translateX(0%);
                margin-right: 0px;
            }
        }
        .catalog-item__text {
            .catalog-item__list {
                position: relative;
                width: 100%;
                margin-left: 0px;
                transform: translateX(0%);
                padding-right: 20px;
                transition: 0.5s all;
                padding-left: 20px;
                margin-bottom: 0;
                list-style-type: none;
                &_active {
                    transform: translateX(-100%);
                    margin-left: 0px;
                }
                li {
                    position: relative;
                    font-size: 14px;
                    font-weight: 300;
                    color: #555555;
                    margin-top: 0;
                    margin-bottom: 20px;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        background-color: $main-color;
                        left: -19px;
                        top: 8px;
                    }
                }
            }
        }
        .catalog-item__back {
            display: block;
            position: absolute;
            font-size: 14px;
            line-height: 1.2;
            transform: translateX(10%);
            font-weight: 500;
            text-decoration: underline;
            text-align: center;
            color: $main-color;
            text-transform: uppercase;
            transition: 0.5s all;
                &_active {
                display: block;
                position: absolute;
                bottom: 0px;
                transform: translateX(-180px);
            }
        }
    }
}