.feeds {
    padding-bottom: 71px;
    .feed__item {
        display: flex;
        margin-top: 100px;
        width: 980px;
        &:nth-child(2){
            margin-top: 70px;
        }
        .feed__img {
            width: 169px;
            height: 169px;
        }
        .feed__text {
            margin-left: 62px;
            padding-right: 60px;
        }
        .feed__subtitle {
            font-size: 18px;
            font-weight: 700;
            color: #0d0d0d;
        }
        .feed__count {
            font-size: 14px;
            font-weight: 500;
            color: #646464;
        }
        .feed__descr {
            font-size: 16px;
            font-weight: 300;
            color: #0d0d0d;
            margin-top: 10px;
        }
    }
}