
@font-face {
	font-family: 'MuseoSansCyrl';
	src: local('MuseoSansCyrl'),
		url(../fonts/MuseoSansCyrl-500.eot) format('embedded-opentype'),
		url(../fonts/MuseoSansCyrl-500.woff) format('woff'),
		url(../fonts/MuseoSansCyrl-500.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}